.youtubeVideos{
    width: 20vw;
    background:rgba(80, 80, 80, 0.9);
    height: 40vw;

}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(80, 80, 80, 0.9);
    z-index: 10;
}
.youtubeModal{
    width:50%;
    height: 50%;
    position: absolute;
    top:20%;
    left:25%;
    background-color:rgba(0, 0, 0, 0.9);
}
.videoDiv{
    position: relative;
}
.videoImageTitle{
    position: absolute;
    color:white;
    width:100%;
    background-color:rgba(168, 168, 168, 0.9);
}
.hide{
    display: none;
}